{% extends 'home/base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #main {
            min-height: 100vh;
        }
    </style>
{% endblock stylesheets %}

{% block body %}

    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment" id="main">

            {% include 'home/includes/inbody-menu.html.twig' %}

            <div class="ui text container">
                <h1 class="ui inverted header">Inscription</h1>
                <br>
                {% if errors is defined %}
                    {#{% if errors.code == 0 %}#}
                        {#<div class="error-msg">err</div>#}
                    {#{{ dump(errors) }}#}
                        <br>
                    {#{% endif %}#}
                {% endif %}

                {{ form_start(registerForm, {attr: {class: 'ui form'}}) }}

                {% if form_errors(registerForm.email) != "" or form_errors(registerForm.plainPassword.first) != ""  %}
                    <div class="error-msg">
                        {{ form_errors(registerForm.email) }}
                        {{ form_errors(registerForm.plainPassword.first) }}
                        {#{{ form_errors(registerForm.plainPassword.second) }}#}
                    </div>
                {% endif %}

                <br>
                <div class="ui fluid input">
                    {{ form_widget(registerForm.email) }}
                </div>
                <br>
                <div class="ui fluid input">
                    {{ form_widget(registerForm.name, {attr: {class: 'test'}}) }}
                </div>
                <br>
                <div class="ui fluid input">
                    {{ form_widget(registerForm.plainPassword.first) }}
                    {{ form_widget(registerForm.plainPassword.second) }}
                </div>
                <br>
                <br>
                <button type="submit" class="ui inverted green button huge">S'inscrire</button>

                {{ form_end(registerForm) }}
                <br>
                <a href="{{ path('login') }}">Déjà un compte ?</a>

            </div>
        </div>
    </div>

{% endblock body %}
