{% extends 'home/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{{ asset('assets/js/cookies.js') }}"></script>
{% endblock %}

{% block body %}

<div class="pusher" xmlns:display="http://www.w3.org/1999/xhtml">
    <div class="ui inverted vertical masthead center aligned segment" id="header-div">

        {% include 'home/includes/inbody-menu.html.twig' %}

        <div class="ui text container">
            <h1 class="ui inverted header">One Quest</h1>
            
            <a href="{{ path('ouvrir-journal') }}" id="quest-book-btn" class="ui circular inverted button" title="Ouvrir mon journal de quêtes">
                <img src="{{ asset('book_icon.PNG', 'home_img') }}" alt="Image livre">
                Journal de quêtes
            </a>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">Assignez des quêtes à vos enfants ...</h3>
                    <p>
                        Créez des quêtes personnalisées et donnez-les à vos enfants
                    </p>
                    <h3 class="ui header">Puis validez-les ou non !</h3>
                    <p>
                        Si la quête a été réalisée avec succès, votre enfants gagnera des points d'expérience, des images de profil et bien plus encore !
                    </p>
                </div>
                <div class="six wide right floated column">
                    <img
                            class="ui large bordered rounded image"
                            src="https://cdn3.iconfinder.com/data/icons/fantasy-and-role-play-game-adventure-quest/512/King-512.png"
                            alt="Image"
                    />

                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>Le principe</h3>
                    <p><b>Gamification</b> : Transformez les corvées de vos enfants en quêtes de jeu vidéo</p>
                </div>
                <div class="column">
                    <h3>Contrôlez la quête</h3>
                    <p>
                        Vérifiez si votre enfant a correctement réalisé sa quête ! <br/>
                        Si oui, il augmentera de niveau et pourra débloquer différentes récompenses !
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{#  Bandeau cookie  #}
<div class="ui inline cookie nag" style="position: fixed; top: 0">
      <span class="title">
          En continuant de naviguer sur ce site, vous acceptez l'utilisation des cookies
      </span>
    <button onclick="acceptCookies()">Ok</button>
</div>

{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        @font-face {
            font-family: "Fantasy1";
            src: url("{{ asset('Fantasy1.ttf', 'custom_fonts') }}");
        }

        h1 {

            font-family: "Fantasy1", Lato, "Helvetica Neue", sans-serif !important;
            font-size: 6em !important;
            margin-top: 0.5em !important;
            margin-bottom: 0.5em !important;
        }

        #quest-book-btn {
            height: 250px;
            width: 250px;
            margin-bottom: 2em;
        }

        #quest-book-btn img {
            height: 90%;
            width: 90%;
            margin: 15px;
        }

        #main-menu>div {
            padding: 15px 10px;
            background-color: rgba(30,30,30,0.8);
        }

        .ui.massive.button {
            font-size: 6rem;
            background-color: rgba(20,20,20,0.8);
            transition: all .2s;
        }
        .ui.massive.button:hover {
            font-size: 8rem;
            background-color: rgba(20,20,20,0.8);
            transition: all .2s;

        }

        div.ui.text.container {
            padding-top: 30px;
        }
    </style>
{% endblock stylesheets %}
