<div onload="showModal()"></div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function showModal() {
        swal("{{ title }}", "{{ message }}", "{{ type }}" );
        console.log("{{ title }}", "{{ message }}", "{{ type }}" );
    }
</script>