{% extends 'parent-dashboard/base.html.twig' %}

    {% block pagetitle %}
        Notifications
    {% endblock pagetitle %}

{% block content %}

    {% if user.notifications | length > 0 %}
        {% for n in user.notifications %}
            <div class="col-md-3">
                <div class="box box-success box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ n.title }}</h3>

                        <div class="box-tools pull-right">
                            <button onclick="deleteNotif({{ n.id }})" type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        {{ n.message }}
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        {% endfor %}
    {% else %}
        <p>
            Aucune notification
        </p>
    {% endif %}

{% endblock content %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/api.js', 'parent_dashboard') }}"></script>
{% endblock %}
