{% extends 'parent-dashboard/base.html.twig' %}

    {% block pagetitle %}
        {% if child %}
            <h1>{{ child.name }}</h1>
        {% else %}
            Enfant inconnu
        {% endif %}
    {% endblock pagetitle %}

{% block content %}

    {% if child %}

        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="{{ child.profileImage.url }}" alt="User profile picture">

                        <h3 class="profile-username text-center">{{ child.name }}</h3>

                        <p class="text-muted text-center">{{ child.pseudo }}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Niveau</b> <a class="pull-right">{{ lv.infosFromExp(child.exp).level }}</a>
                            </li>
                            <li class="list-group-item">
                                {% set currentQuests = 0 %}
                                {% for q in child.quests | filter(q => q.status == 1) %}
                                    {% set currentQuests = currentQuests +1 %}
                                {% endfor %}
                                <b>Quêtes en cours</b> <a class="pull-right">{{ currentQuests }}</a>
                            </li>
                            <li class="list-group-item">
                                {% set realisedQuests = 0 %}
                                {% for q in child.quests | filter(q => q.status == 3 or q.status == 4) %}
                                    {% set realisedQuests = realisedQuests +1 %}
                                {% endfor %}
                                <b>Quêtes réalisées</b> <a class="pull-right">{{ realisedQuests }}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#activity" data-toggle="tab">Dernières quêtes</a></li>
{#                        <li><a href="#timeline" data-toggle="tab">Autre chose</a></li>#}
                        <li><a href="#settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
                    </ul>
                    <div class="tab-content">

                        <!-- ONGLET QUETES -->
                        <div class="active tab-pane" id="activity">

                            {% if child.quests |length > 0 %}
                                {% for q in child.quests | reverse | slice(0,5) %}
                                    <!-- Quete -->
                                    <div class="post" id="quest-post-{{ q.id }}">
                                        <div class="user-block">

                                            {% set questStatus = qs.statusByNumber(q.status) %}
                                            <span class="quest-status {{ questStatus.colorclass }}"><i class="{{ questStatus.icon }}"></i></span>

                                            <span class="username">
                                              {{ q.title }}
                                            </span>
                                            <span class="description">{{ q.description }}</span>
                                        </div>
                                        <!-- /.user-block -->
                                        <ul>
                                            <li>
                                                {% if q.status == 1 %}
                                                    En cours de réalisation
                                                {% elseif q.status == 2 %}
                                                    En attente de validation
                                                {% elseif q.status == 3 %}
                                                    Quête réussie <i class="{{ qs.VALIDATED.icon }}"></i>
                                                {% elseif q.status == 4 %}
                                                    Quête échouée <i class="{{ qs.FAILED.icon }}"></i>
                                                {% endif %}

                                            </li>
                                            <li>Assignée le <b>{{ q.assignatedDate | date("d/m/Y")}}</b> à <b>{{ q.assignatedDate | date("H:i") }}</b></li>

                                            {% if q.status >= 2 %}
                                                <li>Rendue le <b>{{ q.returnDate | date("d/m/Y")}}</b> à <b>{{ q.returnDate | date("H:i") }}</b></li>
                                            {% endif %}

                                            <br>

                                            {% if q.status == 2 %}
                                                <div class="valid-btns">
                                                    <button onclick="validQuest({{ q.id }})" class="btn btn-app {{ qs.VALIDATED.colorclass }}"><i class="{{ qs.VALIDATED.icon }}"></i> Valider la quête</button>
                                                    <button onclick="refuseQuest({{ q.id }})" class="btn btn-app {{ qs.FAILED.colorclass }}"><i class="{{ qs.FAILED.icon }}"></i> Refuser la quête</button>
                                                </div>
                                            {% endif %}


                                        </ul>
                                    </div>
                                    <!-- /.quete -->
                                {% endfor %}
                            {% else %}
                                Aucune quête à afficher <br>
                                <a href="{{ path('dashboard-quests') }}">Créer une nouvelle quête</a>
                            {% endif %}
                        </div>
                        <!-- /.tab-pane -->

                        <!-- ONGLET AUTRE CHOSE -->
{#                        <div class="tab-pane" id="timeline">#}
{#                        </div>#}
                        <!-- /.tab-pane -->


                        <!-- ONLGET OPTIONS -->
                        <div class="tab-pane" id="settings">

                                <div class="box box-success">
                                    <div class="box-body">

                                        {{ form_start(childForm) }}
                                        {#            {{ form(childForm, {'attr':{'class':'form-horizontal'}}) }}#}
                                        <div class="form-group">
                                            {{ form_row(childForm.name) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_row(childForm.pseudo) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_row(childForm.password) }}
                                        </div>
                                        <input type="submit" value="Modifier" class="btn btn-primary">
                                        {{ form_end(childForm) }}

                                    </div>
                                </div>

                                <div>
                                    <button type="submit" value="" class="btn btn-danger" onclick="deleteChildAccount({{ child.id }})">Supprimer ce comtpe Enfant</button>
                                </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    {% else %}
        L'enfant que vous recherchez n'est pas connu
    {% endif %}

{% endblock content %}


    {% block stylesheets %}
        {{ parent() }}
        <style>
            span.quest-status {
                width: 40px;
                height: 40px;
                float: left;
                left: 5px;
                padding: 0 0 0 5px;
            }
            span.quest-status i{
                vertical-align: middle;
                font-size: 40px;
                margin: auto;
            }

            span.quest-status.valid { color: #77cc77}
            span.quest-status.assignated { color: #FF8D2B }
            span.quest-status.fail { color: #ff6961 }

            div.valid-btns .btn-app { color: #fff }

            div.valid-btns .valid { background-color: #77cc77 }
            div.valid-btns .fail { background-color: #ff6961 }

            .btn-app>.ra {
                font-size: 20px;
                display: block;
            }
        </style>
    {% endblock stylesheets %}


    {% block script %}
        {{ parent() }}
        <script src="{{ asset('js/api.js', 'parent_dashboard') }}"></script>

    {% endblock %}
