{% set levelInfos = lv.infosFromExp(child.exp) %}
{% set isProfileImage = (image == child.profileimage) %}
{% set childLv = levelInfos.level %}
{% set isInUnlockedImages = (image in child.unlockedimages) %}

<div
        class="image-card four wide column{% if isProfileImage %} current-image{% elseif image.requiredLevel>childLv %} not-buyable{% endif %}"
        id="image-card-{{ image.id }}"
        {% if not isInUnlockedImages %} onclick="buyImage({{ image.id }})" {% endif %}
>
    <div class="image">
        <img src="{{ image.url }}" alt="Profile image"/>
    </div>

    {# Images débloquées mais pas image de profil #}
    {% if isInUnlockedImages and not isProfileImage %}
        <div class="price-hover">
            <button class="ui button mini" onclick="changeProfileImage({{ image.id }})">
                <i class="check icon"></i>
            </button>
        </div>

    {# Images non débloquées #}
    {% elseif not isInUnlockedImages %}
        <div class="price-hover">
            <img class="ui middle aligned mini image" src="{{ asset('img/level-crystal.png', 'quest-book') }}" alt="Image cristal de niveau"> <span>{{ image.price }}</span>
        </div>

    {# Images de profil #}
    {% elseif isProfileImage %}
        <div class="price-hover">
            <button class="ui button mini olive disabled">
                <i class="check icon"></i>
            </button>
        </div>
    {% endif %}

</div>

<style>
    .image-card {
        border: 0 !important;
        padding: 5px;
        margin-top: 0 !important;
    }

    .image-card:hover {
        box-shadow: 0 0 3px black;
    }

    .image-card div.image img {
        max-width: 100%;
        margin: auto;
    }

    .image-card div.price-hover {
        width: 100%;
    }

    div.price-hover button  {
        margin: auto;
    }

    div.image-card.not-buyable img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
</style>