{% set currentPath = path(app.request.get('_route'),
    app.request.get('_route_params')) %}

<div class="left-menu">

    <a class="menu-item" href="{{ path('quest-book-profile') }}">
        <img src="{{ asset('img/el_03.PNG', 'quest-book') }}" alt="">
        <i class="ra ra-muscle-up{% if currentPath is same as (path('quest-book-profile')) %} active{% endif %}"></i>
    </a>

    <a class="menu-item" href="{{ path('quest-book-quests') }}">
        <img src="{{ asset('img/el_03.PNG', 'quest-book') }}" alt="">
        <i class="ra ra-book{% if currentPath is same as (path('quest-book-quests')) %} active{% endif %}"></i>
    </a>

    <a class="menu-item" href="{{ path('quest-book-shop') }}">
        <img src="{{ asset('img/el_03.PNG', 'quest-book') }}" alt="">
        <i class="ra ra-diamond"></i>
    </a>

</div>
